{% load static %}
<!doctype html>
<html>
<head>

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>body{background-image: url("{% static '1.jpg' %}");
}img {
width: 80vw;
height: 60vh;}
        .news{text-align: center;}
        a{color:blue;}</style>
</head>
<body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'latest_news' %}">Inshorts</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
        <a class="nav-link" href="{% url 'latest_news'%}">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'business_news'%}">Business </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'entertainment_news'%}">Entertainment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'general_news'%}">General</a>
      </li>
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'health_news'%}">Health </a>
      </li>
<li class="nav-item">
        <a class="nav-link" href="{% url 'science_news'%}">Science</a>
      </li>
<li class="nav-item active">
        <a class="nav-link" href="{% url 'sports_news'%}">Sports</a>
      </li>
<li class="nav-item">
        <a class="nav-link" href="{% url 'technology_news'%}">Technology</a>
      </li></ul>
     <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'search_news' %}">
{% csrf_token %}
      <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
   
    {% for news in news_list %}    
        <div class="news" >
            <h1>{{news.title}}</h1>
            {% if news.urlToImage %}
                <img src="{{news.urlToImage}}"/>
            {% endif %}
            <p>Source: {{news.source.name}}</p>
            {% if news.description %}
                <p>News: {{news.description}}</p>
            {% endif %}
            <a href="{{news.url}}" target="_blank">Click here for detailed news</a>
            <p>Published on: {{news.publishedAt}} </p><hr>
        </div>
    {% endfor %}
    
</body>
</html>